<div class="container">
    

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <ul>
                <li ng-repeat="message in main.messages">
                    <span>{{message.userMessage}}</span>
                </li>
            </ul>
            <input placeholder="myTest" type="text" class="form-control" ng-model="main.userMessage" ng-keyup="$event.keyCode == 13 && main.sendMessage()"/>
            <button type="button" class="btn btn-primary" ng-click="main.sendMessage()" >Send</button>
        </div>
    </div>
</div>
