.message-list{
  margin-top: 2em;
  margin: 1em 0 0 0;
  padding: 1em;
  list-style: none;
  overflow: auto;
  height: 20em;
  background: #fcfcf0;
}

.input-area{
  padding-top: 1em;
}

.sent-date-time{
  font-size:0.75em;
  color:#aaa;
}

.user-message{
  font-size:1.25em;
}
